@import '../../styles/vars';
@import '../../styles/extendables';

.not-found {
	@extend %center-x-y;
	position: fixed;
	top: 0;
	background: $color-white;
	height: 100vh;
	width: 100%;
	z-index: 1000;

	.message {
		margin-top: -150px;
		text-align: center;

		p {
			font-size: 18px;
			margin-bottom: 30px;
		}

		a {
			text-decoration: none;

			span {
				display: block;
				color: $color-blue;
			}
		}
	}
}